@{
    string OprClass = "";
    if (Model.operation.Captured == 1)
        OprClass = "Captured";
    else
        OprClass = "NotCaptured";
}
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <h4 class="modal-title"><span class="Amount">@Model.operation.Amount</span> <span class="currency">@Model.operation.Currency</span></h4>
            @if (Model.operation.CanVoid)
            {
                <button type="button" data-opr="@Model.operation.Id" class="Opr-btn" data-label="VoidPayment" id="VoidPayment">Cancel</button>
            }
            else if (Model.operation.CanRefund)
            {
                <button type="button" data-opr="@Model.operation.Id" class="Opr-btn" data-label="RefundPayment" id="RefundPayment">Refund</button>
            }
            else if (Model.operation.Action == "Canceled")
            {
                <div>Operation was canceled!</div>
            }
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="row">
            <div class="response" id="SuccessRefundMsg"></div>
            <div class="response" id="SuccessVoidPayment"></div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="Opr-info col-6">
                <p class="Opr-title">
                    <i class="fa fa-sm fa-calendar"></i>
                    <span class="label" data-label="PaymentDate">Payment Date</span>
                </p>
                <p class="label Opr-text" data-label="">@Model.operation.DateStamp</p>
            </div>
            <div class="Opr-info col-6 @OprClass">
                <p class="Opr-title">
                    <i class="fa fa-sm fa-check-circle"></i>
                    <span class="label" data-label="PaymentCaptrDate">Capture Date</span>
                </p>
                <p class="label Opr-text" data-label="">@Model.operation.CaptureOn</p>
            </div>
        </div>
        <div class="row">
            <div class="Opr-info col-6">
                <p class="Opr-title">
                    <span class="label" data-label="SessionTitle">Session Title</span>
                </p>
                <p class="label Opr-text" data-label="">@Model.operation.Description</p>
            </div>
            <div class="Opr-info col-6">
                <p class="Opr-title">
                    <span class="label" data-label="SessionTutor">Tutor Name</span>
                </p>
                <p class="label Opr-text" data-label="">@Model.operation.TutorName</p>
            </div>
        </div>
        <div class="row">
            <div class="Opr-info col-6">
                <p class="Opr-title">
                    <span class="label" data-label="PaymentMethod">Payment Method</span>
                </p>
                <p class="label Opr-text" data-label="">@Model.operation.PaymentMethod</p>
            </div>
            <div class="Opr-info col-6">
                <p class="Opr-title">
                    <span class="label" data-label="SessionDate">Session Date</span>
                </p>
                <p class="label Opr-text" data-label="">@Model.operation.DateStamp</p>
            </div>
        </div>
    </div>
</div>