@using Newtonsoft.Json;
@model INTO.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1">
    <title>INTO Conference Room</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="//www.groupworld.net/js/bootstrap.min.css">
    <script src="//www.groupworld.net/js/jquery.min.js"></script>
    <script src="//www.groupworld.net/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//www.groupboard.com/newui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" async integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//www.groupworld.net/style.css" type="text/css">
    <link href="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/css/banner.css" rel="stylesheet" />
    <script type="text/javascript" src="//www.groupworld.net/codecogs_editor3.js"></script>
    <script type="text/javascript">function setupequation() { if (null != editorwindow && null != editorwindow.document) { if (null != editorwindow.document.getElementById('format')) { editorwindow.document.getElementById('format').selectedIndex = 1; editorwindow.document.getElementById('bg').selectedIndex = 1; } } } function checktestbox() { var t = document.getElementById('testbox'); if (null != t && t.value != "") { alert("To copy the equation into Groupworld, simply drag the equation image onto the whiteboard"); t.value = ""; } }</script>
    <link rel="stylesheet" type="text/css" href="//www.groupworld.net/js/dialog.css">
    <link href="~/css/vclass/vclass.css" rel="stylesheet" />
    <script src="//www.groupworld.net/js/txted.min.js"></script>
    <script src="//www.groupworld.net/js/aes-enc.min.js"></script>
    <script src="//www.groupworld.net/js/aes-dec.min.js"></script>
    <script src="//www.groupworld.net/js/aes-test.min.js"></script>
    <script src="//www.groupworld.net/js/sha1.min.js"></script>
    <script src="//www.groupworld.net/js/newbase64.min.js"></script>
    <script src="//www.groupworld.net/js/dialog.min.js"></script>
    <script src="//www.groupworld.net/js/tunnel.min.js"></script>
    <script src="//www.groupworld.net/js/gsm610.min.js"></script>
    <script src="//www.groupworld.net/js/groupworld.min.js"></script>

    <script src="//www.groupworld.net/js/desmos.min.js"></script>
    <script src="//www.groupworld.net/js/deskshare.min.js"></script>
    <script src="//www.groupworld.net/js/polls.min.js"></script>
    <script src="//www.groupworld.net/js/jscolor/jscolor.min.js"></script>
    <script src="//www.groupworld.net/js/new_conference.min.js"></script>
    <script src="//www.groupworld.net/js/new_whiteboard.min.js"></script>
    <script src="//www.groupworld.net/js/new_videostrip.min.js?v=5"></script>
    <script src="//www.groupworld.net/js/chat.min.js"></script>
    <script src="//www.groupworld.net/js/jspdf.min.js"></script>
    <script src="//www.groupworld.net/js/jspdf.plugin.addimage.min.js"></script>
    <script src="//www.groupworld.net/js/FileSaver.min.js"></script>
    @*<link rel="stylesheet" href="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/css/bootstrap-material-design.min.css" crossorigin="anonymous">*@
    @*<script src="~/js/bootstrap-material-design.js"></script>*@

    <script src="@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/system.js"></script>
    @*<script src="~/js/sched.js"></script>*@
    <script src="@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/AjaxCaller.js"></script>
    @*<script src="@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/meeting/vroom.js"></script>*@
    <script src="@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/openfilelb/sweetalert2.min.js"></script>
    <link href="~/css/menu.css" rel="stylesheet" />
    <!-- Janus Gateway, for multi-party WebRTC -->
    <!-- Emojis -->
    <script type="text/javascript" src="//www.groupworld.net/js/jquery-emoji-picker-master/js/jquery.emojipicker.min.js"></script>
    <script async type="text/javascript" src="//www.groupworld.net/js/jquery-emoji-picker-master/js/jquery.emojis.min.js"></script>
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/shadow.js"></script>
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/loading.js"></script>
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/auto.js"></script>
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/anime.min.js"></script>
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/anim.js"></script>
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/meeting/trialRoom.js"></script>
    <script type="text/javascript">
        var language = @Model.User.Language.Id;
        var roomId = "@ViewBag.RoomId";
        var me = @Html.Raw(JsonConvert.SerializeObject(Model.User));
function preload_emoji_css()
{
    var css = document.createElement("link");
    css.rel = "stylesheet";
    css.href = "//www.groupworld.net/js/jquery-emoji-picker-master/css/jquery.emojipicker.css";
    document.body.appendChild(css);

    css = document.createElement("link");
    css.rel = "stylesheet";
    css.href = "//www.groupworld.net/js/jquery-emoji-picker-master/css/jquery.emojipicker.tw.css";
    document.body.appendChild(css);
}
function getCookie(c_name)
{
    var i,x,y,ARRcookies=document.cookie.split(';');
    for (i=0;i<ARRcookies.length;i++)
    {
        x=ARRcookies[i].substr(0,ARRcookies[i].indexOf('='));
        y=ARRcookies[i].substr(ARRcookies[i].indexOf('=')+1);
        x=x.replace(/^\s+|\\s+$/g,'');
        if (x==c_name)
        {
            return unescape(y);
        }
    }
}
function setCookie(c_name,value,exdays)
{
    var exdate=new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value=escape(value) + ((exdays==null) ? '' : '; expires='+exdate.toUTCString());
    document.cookie=c_name + '=' + c_value + ';path=/';
}

var agt=navigator.userAgent.toLowerCase();
var is_ipad = (agt.indexOf('ipad') != -1);
var is_iphone = (agt.indexOf('iphone') != -1);
var is_mobile = (agt.indexOf('mobile') != -1);
var is_android = ((agt.indexOf('ventana') != -1) || (agt.indexOf('android') != -1));

if ('807039' == '')
{
    alert("inst_id parameter missing. Please check the url.");
}
if ('biology1' == '')
{
    alert("instance parameter missing. Please check the url.");
}
function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
}
function start()
{
    if (screen.width < 800 && screen.height < 800)
    {
        var mvp = document.getElementById('vp');
        mvp.setAttribute('content','user-scalable=no,width=800');
    }

    // Optional username and password. If not specified here, a popup dialog
    // box will appear.
    var username = "@string.Concat(Model.User.FirstName.ToCharArray()[0], ".", Model.User.LastName)";
    var password = "";

    if (window.location.protocol == 'https:')
    {
        groupworld.tunnel_port = 443;
    }
    else
    {
        groupworld.tunnel_port = 80;
    }

    // The GroupWorld server to connect to. You can optionally specify the
    // port number and installation id (using the format "server:port:install_id").
    var base = 'www.groupworld.net:'+groupworld.tunnel_port+':807039';

    // The object to load and instance name. To create a different "session",
    // just copy the html page and change the instance name (the part after
    // the ":").
    var object = 'new_conference:@ViewBag.RoomId';

    // Flags: not currently used.
    var flags = 0;
    groupworld.startup(username, password, base, object, flags);
    preload_emoji_css()
}

    </script>
    <style>
        /* Bug in Chrome: if you draw on the whiteboard and move off the top,
          Chrome will select a bunch of stuff which will then be dragged the next
          time you click on the whiteboard. To fix, we just turn off selection for
          all elements. */
        * {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }

        /* Allow inputs and chat text area to be selectable
        */
        input, textarea, #chat_area, #text_editor, .remote_text, .our_text, .ql-clipboard, .ql-editor * {
            -webkit-user-select: text;
            -moz-user-select: text;
        }

        /* Disable touch behaviours (pan/zoom) on the canvas elements,
          so that the events are sent to the application instead. */
        canvas {
            touch-action: none;
        }

        /* Prevent double-tapping from zooming on iOS */
        .fa, .topbuts, #prev_page_icon, #next_page_icon, #eraser, #chat_but {
            touch-action: manipulation;
        }

        body {
            padding: 0;
            margin: 0;
        }

        p {
            padding-left: 8px;
        }
    </style>
</head>
<body>

    <script src="//www.groupworld.net/js/strings.js"></script>
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            REDIPS.dialog.init();

            start();
        });

        function show_selftest() {
            REDIPS.dialog.showhtml(0, 0, '<iframe allow="microphone; camera" width=640 height=500 src="https://www.groupboard.com/mp/parse.cgi?filename=selftest.html" style="border: 0"></iframe><p><button onclick="REDIPS.dialog.hide(); start()">Quit Self-test</button>');
        }

        window.addEventListener("message", receiveMessage, false);
        function receiveMessage(event) {
            if (event.data === "finished") {
                finished_selftest();
            }
        }

        function finished_selftest() {
            REDIPS.dialog.hide();
            start();
        }

        var start_time;

        function timer() {
            if (null == start_time) {
                return;
            }

            var cur_time = new Date();
            var time_diff = (cur_time.getTime() - start_time.getTime()) / 1000;
            var hours = parseInt(time_diff / 3600);
            var mins = parseInt((time_diff - hours * 3600) / 60);
            var secs = parseInt(time_diff - hours * 3600 - mins * 60);
            var t = document.getElementById("t");
            t.innerHTML = hours + ":" + mins + ":" + secs;
        }

    </script>
    <style>

        h1 {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block
        }

        .fr {
            float: right
        }
    </style>

    <script type="text/javascript">
var show_room_name = 'true';
var show_timer = 'true';
if (show_timer == 'true' && show_room_name !== 'true')
{
    var tm = document.getElementById('timer');
    var n = document.createElement('h1');
    n.innerHTML = '&nbsp;';
    tm.parentNode.insertBefore(n, tm);
}

new_videostrip.pc_config =  {'iceServers': [ {urls: ['stun:stun.stunprotocol.org', 'stun:stun.l.google.com:19302']},
    {urls: 'turn:www.groupworld.net:13135', credential: 'test', username: 'groupworld'}]};
new_whiteboard.newui = true;

if ('true' == 'true')
{
    new_videostrip.options['use_webrtc'] = 'true';
    new_whiteboard.options['default_size'] = 3;
    new_whiteboard.options['eraser_size'] = 15;
    new_whiteboard.options['show_share_video'] = 'true';
    new_videostrip.options['show_auto_record'] = 'false';
    new_whiteboard.options['multi_user_pan'] = 'false';
    new_conference.options['use_instance_recording_dir'] = 'true';
    new_whiteboard.options['use_scrollbars'] = 'false';
    new_whiteboard.options["hide_help_button"] = "true";
    //new_conference.options["video_width"] =
    //new_conference.options["video_height"] =
    //new_videostrip.options["video_width"] =
    //new_videostrip.options["video_height"] =
    //new_videostrip.options["chat_under_video"]
    //new_videostrip.options["video_quality"]
    //new_whiteboard.options["show_math"] = "false";
}

new_whiteboard.using_desmos = true;

desmos.api_key = 'ee194c75a25a4870b06e64691293f0aa';
// Generate the actual Groupworld object. Parameters: width and height of
// object
groupworld.htmlgen('100%','100%');

// Hide playback link if there are no recordings
var r = new XMLHttpRequest(); r.addEventListener("load", function() { var num_recordings = this.responseText;if (num_recordings == 0) { document.getElementById('playback_link').style.display = 'none'; setTimeout(groupworld.window_resize,250); } }); r.open("GET", "///www.groupworld.net/mp/saved_sessions.cgi?groupworld_id=807039&count=true&dir=recordings/biology1"); r.send();
    </script>
    <p id="playback_link"><a style="color:#337ab7" target=playback href="//www.groupworld.net/mp/saved_sessions.cgi?groupworld_id=807039&instance=biology1&dir=recordings/biology1&width=100%&height=100%&js=true&newui=true">Play back previously recorded sessions</a></p>
    <div class="home_splash">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4" style="text-align: center;">
                <div class="grav-anim">
                    <button class="square-48 icon">
                        <svg aria-hidden="true" focusable="false" width="100" height="100" data-prefix="fas" data-icon="graduation-cap" class="svg-inline--fa fa-graduation-cap fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" fill="#e0e0e0"><path fill="#e0e0e0" d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"></path></svg>
                    </button>
                </div>
                <h1 class="ml5 text-light">
                    <span class="text-wrapper">
                        <span class="logo-line line1 bg-light"></span>
                        <span class="letters letters-left">INTO TUTORING</span>
                        <span class="logo-line line2 bg-light"></span>
                    </span>
                </h1>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>
